* {
    font-family: 'Manrope', sans-serif;
    user-select: none;
    color: #18191F;
}
.container {
    width: 70%;
    margin: auto;
}

.section-header {
    background: url(../img/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 870px;
    width: 100%;
    margin: auto;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
}
.header-nav {
    display: flex;
    align-items: center;

}
.nav-items {
    text-decoration: none;
    color: #000;
    margin-left: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.header-bage:last-child {
    margin-left: 12px;
}
.title-block {
    display: flex;
    justify-content: space-between;

}
.header-title {
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
}
.button-get-started {
    background: #8C30F5;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    padding: 16px 41px;
    cursor: pointer;
}
        /* ./SECTION header*/

.section-logos {
    padding-top: 16px;
    padding-bottom: 16px;
}
.object-line {
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.object-line:first-child {
    margin-bottom: 24px;
}
.object-line:last-child {
    margin-top: 24px;
}
.logos-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-block {
    margin-left: 64px;
}
.logo-block:first-child {
    margin-left: 0;
}
        /* ./Section-logos */


.title-features {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 0;
    margin-top: 64px;
}
.description-features {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 48px;
}

.features-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.feature-card {
    margin-bottom: 64px;
}
.feature-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 8px;
}
.feature-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
        /* ./Section features*/

.section-stories {
    background: #D5FAFC url(../img/quot.png);
    background-repeat: no-repeat;
    background-position: 165px 64px;
    width: 100%;
    height: 900px;
}
.section-stories-title {
    padding-top: 120px;
    padding-left: 15px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
}
.section-stories-description {
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    margin-top: 8px;
}
.testimonial-block-1 {
position: relative;
align-items: flex-start;
top: -110px;
left: 530px;
padding: 32px;
width: 380px;
height: 276px;
background: #FFFFFF url(../img/tiny-quot.png);
background-repeat: no-repeat;
background-position: 32px 104px;
box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
border-radius: 8px;
}

.testimonial-block-2 {
    position: relative;
    align-items: flex-start;
    top: -312px;
    left: 145px;
    padding: 32px;
    width: 290px;
    height: 370px;
    background: #FFFFFF url(../img/tiny-quot.png);
    background-repeat: no-repeat;
    background-position: 32px 104px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.testimonial-block-3 {
    position: relative;
    align-items: flex-start;
    top: -512px;
    left: 530px;
    padding: 32px;
    width: 280px;
    height: 210px;
    background: #FFFFFF url(../img/tiny-quot.png);
    background-repeat: no-repeat;
    background-position: 32px 104px;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px;
}

.testimonail-image {
    margin-bottom: 12px;
}
.testimonail-coment {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 24px;
    padding-left: 32px;
}
.testimonial-author {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding-left: 32px;
}
.testimonail-caption {
    color: #969BAB;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding-left: 32px;
}
        /* ./Section testimonial */

.stats-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.section-stats-captions {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 50%;
}
.section-stats-title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    margin-bottom: 8px;
}
.section-stats-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.stats-list-item {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0;
    margin-top: 40px;
}
.stats-captions {
    align-items: flex-start;
}
.stats-title {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}
.stats-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
.stats-image {
    width: 48px;
    height: 48px;
    padding: 8px;
}

        /* ./Section stats */

.section-feature-headline {
    padding-top: 64px;
    padding-bottom: 64px;
}
.feature-headline {
    display: flex;
    align-items: center;
}
.feature-headline-image {
    margin-right: 50px;
}
.feature-headline-captions {
    padding-left: 40px;
    padding-right: 40px;
    width: 38%;
}
.feature-headline-title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
}
.feature-headline-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.get-started-button {
    padding-right: 30px;
    color: #8C30F5;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    background: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
    text-decoration: none;
}
        /* ./Section feature-headline */

.section-feature-enter {
    padding-top: 64px;
    padding-bottom: 64px;
}
.section-feature-enter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}
.feature-enter-title {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    width: 40%;
}
.feature-enter-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    max-width: 540px;
}
.feature-enter-image {
    width: 100%;
}
        /* .Section feature-enter*/

.section-cta {
    background: url(../img/cta-bg.png);
    background-position: 150px center;
    width: 100%;
    height: 340px;
    padding-top: 68px;
    padding-bottom: 68px;
}
.section-cta-content {
    max-width: 540px;
}
.section-cta-title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    margin-bottom: 8px;
}
.section-cta-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 48px;
}
.section-cta-captions {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 0;

}
.cta-bage-block {
    margin: 0;
    margin-top: 8px;
}

        /* ./Section CTA*/

.footer {
    background: #0B0D17;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 88px;
}
.info-block {
    max-width: 475px;
}
.footer-logo {
    margin-bottom: 24px;
}
.footer-navigation {
    margin-bottom: 24px; 
}
.nav-link {
    color: #fff;
    margin-right: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.nav-link:last-child {
        margin-right: 0;
}
.footer-captions {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.cta-bage-block {
    flex-wrap: wrap;
    max-width: 160px;
}
.footer-badge-captions {
    color: #fff;
}
.footer-bage:first-child {
    margin-top: 16px;
}
